@font-face {
    font-family:'TTLakesMedium';
    src: url("fonts/TTLakes/TTLakesMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

* {
    font-family: 'TTLakesMedium';
}

/* шапка */

header { 
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    border: 1px solid #FF3E79;
}

.hidden {
    display: none;
}

.icon img {        
    margin: auto; 
}

h1:before {
    content: '|';
    color: #41F6D7;
    font-size: 40px;
    padding-right: 15px;
}

@media (min-width: 768px) {

    .divider1 {
        margin-right: 230px ;
    }

    .hidden {
        display: flex;
    }
}

@media (min-width: 1120px) {
    header {
        display: none;
    }
}

/* содержимое */

main {
    border-top: 1px solid #41F6D7;
    background: #F8F8F8;
}

.main-header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-header h1{
    margin: 0;
}

.dew {
    display: flex;
    align-items: center;
}

#s {
    display: none;
}

.highlight {
    height: 40px;
    margin-right: 20px;
}

.main-list {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    margin-left: 20px;
    white-space: nowrap;
    padding: 10px;
}

li:hover {
    background-color: white;
    border: 2px solid #41F6D7;
    border-radius: 5%;
}

.down {
    margin-left: 20px;
    margin-right: 10px;
    border: 1px solid #F8F8F8;
    background: #F8F8F8;
}

.picture {
    margin-top: 20px;
    width: 320px;
    height: 230px;
}

#q {
    margin-top: 20px;
    display: block;
}

@media (min-width: 768px) {
    main {
        border-top: 1px solid white;
    }

    .picture {
        width: 360px;
        height: 260px;
        margin-top: 0;
    }

    .main-content {
        display: flex;
        gap: 20px;
    }
}

@media (min-width: 1120px) {
    main {
        width: 1120px;
    }

    .picture {
        width: 532px;
        height: 383px;
        margin-top: 0;
    }

    h1 {
        margin-right: 230px;
    }

    #s {
        display: flex;
        margin-left: 370px;
    }

    .dew {
        margin-left: 20px;
    }

    .sf {
        margin-left: 10px;
    }
}